<section itemscope>
  <h1>About me</h1>
  <p>I build cool stuff with Node.js.</p>
  <ul>
    <li>Email: <a href="mailto:olalonde@gmail.com" rel="me">olalonde@gmail.com</a></li>
    <li>Twitter: <a href="http://twitter.com/o_lalonde" rel="me">@o_lalonde</a></li>
    <li>LinkedIn: <a href="http://www.linkedin.com/in/olivierlalonde" rel="me">@olivierlalonde</a></li>
    <li>Github: <a href="http://github.com/olalonde" rel="me">@olalonde</a></li>
    <li>Google+: <a href="https://plus.google.com/108481435543473632495?rel=author">Olivier Lalonde</a></li>
  </ul> 
</section>
