<div id="about">
  <div>
    <img class="img-rounded headshot" align="right"
      src="https://www.gravatar.com/avatar/998aa9f83c1955ae4ed2ee1ef2b830f1.jpg?s=130" alt="Olivier Lalonde">
    <p>
      Hey there, I'm Olivier Lalonde, aka Oli, an entrepreneur / software
      engineer from planet Earth.
    </p>
    <p>
      Misc. facts about me: I co-founded Binded (acquired by Pixsy), authored a
      function in Node.js' standard library, wrote an npm package that gets
      ~30M weekly downloads, was an early adopter of Bitcoin and wrote one of
      its first alternative implementations.
    </p>
    <p>
      Most of my experience has been centered around full stack web development but I
      have touched many other areas including distributed systems, machine
      learning, DevOps, computer vision, information retrieval, mobile, smart contracts,
      etc.
    </p>

    <p>
      These days my language of choice are Rust and JavaScript. In terms of
      tools, everything happens in Neovim, tmux and zsh.
    </p </div>

    {% comment %}
    <p style="display: none">
      This blog was featured on <a
        href="http://coding.smashingmagazine.com/2011/09/16/useful-node-js-tools-tutorials-and-resources/">Smashing
        Magazine</a>, <a href="http://javascriptweekly.com/archive/26.html">Javascript Weekly</a>, <a
        href="http://dailyjs.com/2011/05/18/node-roundup/">DailyJS</a> &amp; <a
        href="http://www.fastcompany.com/3000410/silicon-valleys-world-asia-edition">Fast Company</a>.
    </p>
    {% endcomment %}
    <p>
      <a style="background-color:yellow; font-weight: bold;" href="mailto:olalonde@gmail.com">Get in touch!</a>
    </p>
    <p>
      <a href="https://github.com/olalonde">GitHub</a>,
      <a href="https://twitter.com/o_lalonde">Twitter</a>,
      <a href="https://news.ycombinator.com/user?id=olalonde">Hacker News</a>
    </p>
  </div>
