<div id="about">
<p>
<img class="img-rounded headshot" align="right"
src="https://www.gravatar.com/avatar/998aa9f83c1955ae4ed2ee1ef2b830f1.jpg?s=130" alt="Olivier Lalonde">
{{ site.description }}</p>

{% comment %}
<p style="display: none">
  This blog was featured on <a href="http://coding.smashingmagazine.com/2011/09/16/useful-node-js-tools-tutorials-and-resources/">Smashing Magazine</a>, <a href="http://javascriptweekly.com/archive/26.html">Javascript Weekly</a>, <a href="http://dailyjs.com/2011/05/18/node-roundup/">DailyJS</a> &amp; <a href="http://www.fastcompany.com/3000410/silicon-valleys-world-asia-edition">Fast Company</a>.
</p>
{% endcomment %}
<p>
  <a style="background-color:yellow; font-weight: bold;" href="mailto:olalonde@gmail.com">Get in touch!</a>
</p>
<p>
  <a href="https://github.com/olalonde">GitHub</a>,
  <a href="https://twitter.com/o_lalonde">Twitter</a>,
  <a href="https://news.ycombinator.com/user?id=olalonde">Hacker News</a>
</p>
</div>
