<div class="hide">
  <p itemscope itemtype="http://data-vocabulary.org/Person">
    <span itemprop="name">Olivier Lalonde</span>
    <span itemprop="nickname">olalonde</span>
    <span itemprop="role">Senior Software Engineer</span>
    <span itemprop="org">Syskall.com</span>

    <span itemprop="address" itemscope
      itemtype="http://data-vocabulary.org/Address">
      <span itemprop="locality">Hong Kong</span>,
      <span itemprop="country-name">China</span>
    </span>

    <img itemprop="photo" src="http://www.gravatar.com/avatar/998aa9f83c1955ae4ed2ee1ef2b830f1.png" alt="Olivier Lalonde">
  </p>
</div>
