<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  {% include structured-data.html %}
  <!-- horizontally and vertically center -->
  <div style="margin: 0; display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; text-align: center;">
    <div>Hey there, I'm Oli - welcome here.</div>
    <div style="margin-top: 20px;">
      <a href="https://github.com/olalonde">Github</a> | 
      <a href="https://news.ycombinator.com/olalonde">Hacker News</a> | 
      <a href="mailto:o@syskall.com">Email</a> | 
      <a href="https://x.com/o_lalonde">X account</a>
    </div>
  </div>
</body>

</html>
