// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html {
  background-image:url('../images/stressed_linen.png');
}

body > header {
  background: none;
  padding: 55px;
}

body > header img {
  float: left;
  margin: 0px 55px 0 0;
  @include box-shadow(0px 0px 5px 0px lighten(#000, 0.2));
}

#topflash {
  @include border-radius(3px);
  background: darken(#FFF, 0.2) url('/images/noise.png');
  @include box-shadow(3px 3px 2px #000);
  text-align:center;
}

.external_site {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  background: url(/images/sprite.png) no-repeat;
}

.external_site.twitter {
  background-position: 0 -799px;
}
.external_site.facebook {
  background-position: 0 -204px;
}
.external_site.linked_in {
  background-position: 0 -408px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
