// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.external_site {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  background: url(/images/sprite.png) no-repeat;
}

.external_site.twitter {
  background-position: 0 -799px;
}
.external_site.facebook {
  background-position: 0 -204px;
}
.external_site.linked_in {
  background-position: 0 -408px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
